{
  "plugins": [
    "react",
    "prettier"
  ],
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/prop-types": [
      2,
      {
        "ignore": [
          "children",
          "className"
        ]
      }
    ],
    "no-console": "warn"
  }
}